<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- BOOTSTRAP STYLESHEET, always include at the top --}}
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/test.css">
    <title>Rum Habour HK</title>
</head>
<body>
    <h1>Rum Habour Hk</h1>
    {{{body}}}
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>